<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    body{
      background-color: rgb(10, 112, 232);
    }
    </style>
    <title>Error 1001</title>
  </head>
  <body>
    <h1> Titulo de Prueba</h1>
    Error 1001
  </body>
</html>
