<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="errorCss.css" media="screen" title="no title" charset="utf-8">
    <title>Error 1003</title>
  </head>
  <body>
    Error 1003
    <nav>
      <ul>
        <li>Hola</li>
        <li>Mundo</li>
        <li>Prueba</li>
      </ul>
    </nav>
  </body>
</html>
